.userprofile{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.userprofile--users{
    display: grid;
    grid-template-columns:repeat(4, auto);
}
.userprofile--item h2{
    padding-left: 50px;
}
.userprofile--item{
    display:inline-block;
    width:200px;
    cursor: pointer;
}
.userprofile--item img{
    width: 100%;
    transform: scale(0.9);
    transition : all ease 0.2s;
 } 
 .userprofile--item img:hover{
     transform: scale(1);
  }
  @media(max-width:760px) {
    .userprofile--users{
        grid-template-columns:repeat(2, auto);
    }
   }